<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.iesb.mobile.gentil">

    <application
        android:name=".MaisGentilApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gentil">
        <activity android:name=".ui.activity.MainStartActivity"></activity>
        <activity android:name=".ui.activity.ChatbotActivity"></activity>
        <activity android:name=".ui.activity.representative.MyProfileRepresentativeActivity" />
        <activity android:name=".ui.activity.voluntary.CreateAdVoluntaryActivity" />
        <activity android:name=".ui.activity.voluntary.EditProfileVoluntaryActivity" />
        <activity android:name=".ui.activity.voluntary.MyProfileVoluntaryActivity" />
        <activity android:name=".ui.activity.representative.CreateAdRepresentativeActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.MapActivity" />
        <activity android:name=".ui.activity.voluntary.HomeVoluntaryActivity" />
        <activity android:name=".ui.activity.representative.EditProfileRepresentativeActivity" />
        <activity android:name=".ui.activity.representative.HomeRepresentativeActivity" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.wearable.standalone" -->
        <!-- android:value="true" /> -->
        <activity android:name=".ui.activity.login.LoginActivity" />
        <activity android:name=".ui.activity.representative.RegisterRepresentativeActivity" />
        <activity android:name=".ui.activity.HomeActivity" />
        <activity android:name=".ui.activity.login.ForgotActivity" />
        <activity android:name=".ui.activity.voluntary.RegisterVoluntaryActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.MaisGentilActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>